PORT=9000
MONGO_URI=mongodb://localhost:27017
JWT_SECRET=piyush
ATLAS_SEARCH_INDEX=medicines-search

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password

BT_MERCHANT_ID=your_merchant_id
BT_PUBLIC_KEY=your_public_key
BT_PRIVATE_KEY=your_private_key
